<div class="container-sm">

    <h2>Greetings,</h2>
    <p>thank you for taking the time to visit my website, <br> I hope you're able to find what you're looking for.
    Here's a bit of history about me. <br><br> My full name is Blair Mutabaruka I am 22 years young, I was born on the 21/10/2000.
    <br>I hail from the land of Rwanda, also known as the land of a thousand hills. <br> I moved to Australia when I was 14 years young. I graduated high school in 2018,
    and commenced my tertiery studies the following year. <br>I attended LaTrobe University taking a Bachelor's study in computer science.
    I graduated my from university in late 2022. Currently, on the weekends I volunteer at my local church Knox City Church as a media assistant.
    I have a passion for alot of things but my top favorite things to do include (not in any particular order) 1. watch movies, I use movie refernces to win arguements,
    2. Creating art, I have been blessed with artistic skills my subject matter is mainly portraits, 3. Video games, my favorite game is The Last of us.</p>

</div>