<div class="container-lg">

    <ul>
        <li>
            <h1>email</h1>
            <p class="w3-animate-left"><i class="fa-solid fa-envelope fa-xl"></i> blair.mutabaruka3@gmail.com</p>

        </li>

        <li>
            <h1>phone</h1>
            <p class="w3-animate-left"><i class="fa-solid fa-phone fa-xl"></i>  -</p>
            
        </li>

        <li>
            <h1>Github</h1>
            <p class="w3-animate-left"><i class="fa-brands fa-github fa-xl"></i><a href="https://github.com/BlairMut"> BlairMut</a></p>
            
        </li>
    </ul>


</div>
