*{
    background-color: #000
}
.navbar{
    position: absolute;
    width: fit-content;
    top: 0;
    /* height: 100%; */

}
/* i{
    color: rgb(87, 43, 189);
} */

.nav-item .nav-link{
    text-transform:capitalize;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    color: rgb(87, 43, 189);
}

.nav-item .nav-link:hover, i:hover{
    
    color: rgb(255, 255, 255);
    
}