<nav class="navbar">
  <ul class="nav flex-column ">
    <!-- <li class="nav-item home"><a class="nav-link" routerLink="home">home</a></li> -->
    <li class="nav-item home1"><a class="nav-link" routerLink="home"><i class="fa-solid fa-house"></i></a></li>
    <!-- <li class="nav-item about"><a class="nav-link" routerLink="about">about</a></li> -->
    <li class="nav-item about1"><a class="nav-link" routerLink="about"><i class="fa-solid fa-book"></i></a></li>
    <!-- <li class="nav-item project"><a class="nav-link" routerLink="project">project</a></li> -->
    <li class="nav-item project1"><a class="nav-link" routerLink="project"><i class="fa-solid fa-pen"></i></a></li>
    <!-- <li class="nav-item contact"><a class="nav-link" routerLink="contact">contact</a></li> -->
    <li class="nav-item contact1"><a class="nav-link" routerLink="contact"><i class="fa-solid fa-address-card"></i></a></li>
  </ul>
</nav>

<router-outlet/>