.container-sm{
    background-color: none;
    justify-content: center;
    left: 10%;
    top: 45%;
    position: absolute;
    width: 800px;
    
}
h2{
    font-family: 'DynaPuff', cursive;
    color: #ffff;
    font-size: 56px;
}

h3{
    font-family: 'DynaPuff', cursive;
    color: #ffff;
    font-size: 36px;
}

button{
    padding: 5px 12px;
    letter-spacing: 2px;
    margin-left: 20px;
    font-family: 'DynaPuff', cursive;
    font-size: 29px;
    border-radius: 5px;
    color: rgb(87, 43, 189);
    background-color: rgb(24, 24, 24);
}

button:hover{
    color: #ffff;
    transition: 0.3s;
    border-bottom-color: #ffff;
}
