<div class="container-sm">
    <h2 class="w3-animate-top">Hello . . .</h2>
    <h2 class="w3-animate-top">My name is Blair</h2>
    <br>
    <h3 class="w3-animate-top"> Frontend Developer | Design Expert | Digital Artist | Painter</h3>
    <br/>
    
        <a class="w3-animate-bottom" routerLink="/contact"><button><i class="fa-solid fa-address-card "></i>  Contact me</button></a>
        <a class="w3-animate-bottom" routerLink="/project"><button><i class="fa-solid fa-pen "></i>  View projects</button></a>
   
</div>